@font-face {
  font-family: 'kadwa';
  src: url('../polices/Kadwa-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'kadwa';
  src: url('../polices/Kadwa-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'inter';
  src: url('../polices/Inter-VariableFont.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
