*
!readme.md
!.gitignore
!wp-content/
wp-content/*
!wp-content/themes/
wp-content/themes/*
!wp-content/themes/PLAI_theme
!wp-content/themes/PLAI_theme/*
!wp-content/themes/PLAI_theme/**/*
wp-content/themes/PLAI_theme/node_modules
wp-content/themes/PLAI_theme/public
wp-content/themes/PLAI_theme/public/*
node_modules
!postcss.config.js
!vite.config.js
!package.json