/*FONTS FAMILY*/
$font-family-title: 'kadwa', serif;
$font-family-body: 'inter', 'helvetica', 'arial', 'roboto', sans-serif;


/*FONTS SIZES ADAPTATIVE*/
$fs-h1: clamp(1.75rem, 1.286rem + 1.9vw, 3rem);
$fs-subtitle: clamp(1.125rem, 1.079rem + 0.19vw, 1.25rem);
$fs-body: clamp(1rem, 0.954rem + 0.19vw, 1.125rem);
$fs-body-s: 0.875rem;

/*Line Height*/
$line-height-title: 1.35;
$line-height-body: 1.6;

/*FONTS TOUT EN UN*/
$font-h1: 400 $fs-h1/$line-height-title $font-family-title;
$font-subtitle: 400 $fs-subtitle/$line-height-body $font-family-body;

$font-body: 400 $fs-body/$line-height-body $font-family-body;
$font-body-bold: 600 $fs-body/$line-height-body $font-family-body;
$font-body-s: 400 $fs-body-s/1 $font-family-body;

/*COULEURS*/
$background-primary: #F0EEE9;
$background-secondary: #EDE4E0;
$background-stroke: #DBD6C6;

$text-primary: #292824;
$text-secondary: #ABA699;

$cta-primary: #F8D6DF;
$cta-primary-active: #FAC3D1;
$cta-neutral: #DBD9D5;
$cta-neutral-active: #DBD6C6;

$alert-red: #E00000;

$postit-yellow: linear-gradient(to top,#F5E836 0%, #F5E836 12%, #FCEE21 12%, #FCEE21 100%);
$postit-blue: linear-gradient(to top,#C7E8F7 0%, #C7E8F7 12%, #C7EBFA 12%, #C7EBFA 100%);
$postit-pink: linear-gradient(to top,#FBC1D0 0%, #FBC1D0 12%, #FAC3D1 12%, #FAC3D1 100%);



/*ESPACE EN GRILLE DE 8PX*/
$space-at-top: clamp(9.375rem, 7.75rem + 6.67vw, 13.75rem);
$space-at-bottom: clamp(5.875rem, 2.95rem + 12vw, 13.75rem);
$space-at-side: clamp(1.5rem, -3.05rem + 18.67vw, 13.75rem);

$space-xl: clamp(3rem, 0.632rem + 9.71vw, 9.375rem);
$space-l: clamp(3rem, 2.629rem + 1.52vw, 4rem);
$space-m: clamp(2rem, 1.257rem + 3.05vw, 4rem);
$space-s: clamp(1.5rem, 1.314rem + 0.76vw, 2rem);
$space-xs: 1rem;
$space-xxs: 0.5rem;

/*Border-Radius*/
$radius-button: 0.5rem;
$radius-navBar-main: 1.5rem;